<div class="container">

    <form class="w-100 " action="">
        <!-- Form first row -->
        <div class="row  mb-5   ">

            <div class="col-sm bg-light   d-flex justify-content-center ">
                <div>
                    <div class="form-check ">
                        <label class="form-check-label container " for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">0-5
                            jaar<span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-sm bg-light d-flex justify-content-center">
                <div>
                    <div class="form-check ">
                        <label class="form-check-label container " for="radio6">
                            <input type="radio" class="form-check-input" id="radio6" name="optradio"
                                value="option6">30-40 jaar<span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <!-- Nested form  -->
    <form class="w-100 " action="">
        <!-- Form first row -->
        <div class="row  mb-5   ">

            <div class="col-sm bg-light   d-flex justify-content-center ">
                <div>
                    <div class="form-check ">
                        <label class="form-check-label container " for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">0-5
                            jaar<span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-sm bg-light d-flex justify-content-center">
                <div>
                    <div class="form-check ">
                        <label class="form-check-label container " for="radio6">
                            <input type="radio" class="form-check-input" id="radio6" name="optradio"
                                value="option6">30-40 jaar<span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </div>
        </div>

    </form>

    <!-- End of nested form -->

    <!--  third row -->
    <div class="row  my-3  ">

        <div class="col-sm  d-flex justify-content-center mb-2 ">

            <button type="button" class="btn btn-success" (click)=handleq1()>Volgende</button>
        </div>
    </div>
    <!--  End of third row -->


</div>